DJANGO_SECRET_KEY=""
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS="localhost,127.0.0.1"
DJANGO_CSRF_TRUSTED_ORIGINS="http://localhost,http://127.0.0.1"

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

TRANSACTIONS_HOST=""
FRONTEND_URL=""